<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.esprit.goga"
    android:versionCode="1"
    android:versionName="1.0">




    <uses-sdk
        android:minSdkVersion="16"
        android:targetSdkVersion="26" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.CLEAR_APP_CACHE" />



    <!-- Get the current foreground program -->
    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:logo="@drawable/logo_transparent"
        android:theme="@style/MxxHoloTheme"
        android:windowSoftInputMode="adjustResize">



        <provider
            android:name="com.esprit.android.util.GenericFileProvider"
            android:authorities="${applicationId}..provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths"/>
        </provider>


       <!-- <service android:name="com.esprit.android.util.MessageReceiver">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT"/>
            </intent-filter>
        </service>-->
        <service android:name="com.esprit.android.util.InstanceIdService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT"/>
            </intent-filter>
        </service>



        <activity
            android:name=".LogInActivity"
            android:label="@string/app_name"
            android:noHistory="true"
        android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.esprit.android.common.activity.MxxBrowserActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />
        <activity
            android:name=".AboutActivity"
            android:label="@string/title_activity_about" />
        <!-- android:theme="@style/SwipeBackTheme" -->

        <activity android:name=".UploadActivity" />
        <activity android:name=".ActivitySignup" />
        <activity android:name=".ProfileActivity" />
        <activity android:name=".GogaMainActivity"></activity>


    </application>


</manifest>